@use "./base/mixins" as *;
@use "./base/variables" as *;
@use "./base/reset";
@use "./base/fonts";
@use "../icons/style.css";

html {
  font-size: 62.5%;
}

body {
  margin: 10px;
}

main {
  header {
    &.container {
      margin-bottom: 30px;
    }

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    h1 {
      text-transform: uppercase;
      text-align: center;
      padding-bottom: 20px;
      font-family: "Bebas Neue", cursive;
      font-size: 36px;
      transition: all 300ms;
      line-height: 30px;
      margin-bottom: 20px;
    }
    .logo {
      width: 400px;
      height: 225px;
      background-image: url("../images/Logo_wikiviews.svg");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      transition: all 300ms;
    }
  }
  section {
    display: grid;
    grid-template-columns: 350px 2fr;
    gap: 40px;
    .info,
    .chart {
      background-color: $white;
      box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
      border-radius: 5px;
      padding: 25px;
    }
    .info {
      display: flex;
      height: fit-content;
    }
    .chart {
      .navchart {
        margin-bottom: 30px;
        ul {
          display: flex;
          justify-content: center;
          li {
            margin-right: 30px;
            padding: 10px 30px;
            background-color: $red;
            border-radius: 5px;
            color: white;
            display: flex;
            align-items: center;
            cursor: pointer;
            &:hover {
              background-color: crimson;
            }
            span {
              margin-right: 15px;
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }
        }
      }
      #myChart {
        height: 100px;
      }
    }
  }
}

@media screen and (max-width: 786px) {
  main {
    header {
      .logo {
        width: 300px;
        height: 150px;
      }
    }
    section {
      grid-template-columns: 1fr;
    }
  }
}

@media screen and (max-width: 450px) {
  main {
    header {
      h1 {
        font-size: 30px;
      }
    }
  }
}

@media screen and (max-width: 330px) {
  main {
    header {
      h1 {
        font-size: 23px;
      }
    }
  }
}
