@use "./base/mixins" as *;
@use "./base/variables" as *;
@use "./base/reset";
@use "./base/fonts";
@use "../icons/style.css";

html {
  font-size: 62.5%;
}

$oranje: orange;
body {
  margin: 10px;
}

main {
  header {
    padding: 30px;
    margin-bottom: 30px;
    h1 {
      text-transform: uppercase;
      font-size: 30px;
      text-align: center;
      padding-bottom: 20px;
      font-family: "Bebas Neue", cursive;
      font-size: 36px;
    }
  }
  section {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 40px;
    .info {
      background-color: white;
      box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
      border-radius: 5px;
      padding: 25px;
      height: fit-content;
    }
    .chart {
      background-color: green;
    }
  }
}
