@use "./base/mixins" as *;
@use "./base/variables" as *;
@use "./base/reset";
@use "./base/fonts";
@use "../icons/style.css";

html {
  font-size: 62.5%;
}

$oranje: orange;
body {
  margin: 10px;
}

main {
  header {
    padding: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    h1 {
      text-transform: uppercase;
      font-size: 30px;
      text-align: center;
      padding-bottom: 20px;
      font-family: "Bebas Neue", cursive;
      font-size: 36px;
    }
    .logo {
      width: 400px;
      height: 225px;
      background-image: url("../images/Logo_wikiviews.svg");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }
  }
  section {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 0 60px;
    gap: 40px;
    .info,
    .chart {
      background-color: white;
      box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
      border-radius: 5px;
      padding: 25px;
    }
    .info {
      display: flex;
    }
  }
}
