.form {
  .input {
    margin-bottom: 20px;
  }
  .field.is-horizontal {
    display: flex;
    margin-right: 20px;
  }
  .field.is-grouped {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
}
