@use "../../css/base/mixins" as *;
@use "../../css/base/variables" as *;
@use "../../css/base/reset";
@use "../../css/base/fonts";
@use "../../icons/style.css";

.form {
  width: 100%;

  .field.is-horizontal {
    display: flex;
    margin-right: 20px;
    align-items: center;
    .field-label.is-normal {
      margin-right: 20px;
    }
  }
  .field.is-grouped {
    display: flex;
    justify-content: flex-start;
    .control {
      .button.is-link.is-light {
        background-color: $red;
        color: $white;
      }
    }
  }
  .errorinput,
  .errorstartdate,
  .errorenddate {
    display: none;
  }
  .button.is-primary.is-medium.is-fullwidth.submitform {
    background-color: $blue;
    &:hover {
      background-color: $blue;
    }
  }
}

@media screen and (max-width: 850px) {
  form {
    .field.is-grouped {
      .field.is-horizontal {
        width: 100%;
        margin-right: unset;
        .field-body {
          flex-basis: 100%;
          .field.is-narrow {
            flex-basis: 100%;
          }
        }
      }
    }
    .field.is-grouped {
      flex-wrap: wrap;
      margin-right: unset;
    }
  }
}

@media screen and (max-width: 455px) {
  form {
    .field.is-grouped {
      .field.is-horizontal {
        display: flex;
        margin-right: 0px;
        align-items: center;
      }
      > .control {
        width: 100%;
        .button.is-link.is-light {
          width: 100%;
        }
      }
    }
    .field.is-grouped > .control.is-expanded {
      flex-grow: 1;
      flex-shrink: 1;
      width: 100%;
      margin-right: 0;
    }
    .field.is-grouped > .control:not(:last-child) {
      margin-bottom: 10px;
      margin-right: 0;
    }
  }
}
